build-opencv_lab-Desktop_Qt_5_7_0_GCC_64bit-Debug build-opencv_lab-Desktop_Qt_5_7_0_GCC_64bit-Default
CMakeLists.txt.user*
build-opencv_lab-Desktop_Qt_5_7_0_GCC_64bit-Debug/ build-opencv_lab-Desktop_Qt_5_7_0_GCC_64bit-Default/
build-opencv_lab-Desktop_Qt_5_7_0_GCC_64bit-Debug/ build-opencv_lab-Desktop_Qt_5_7_0_GCC_64bit-Default/
build-opencv_lab-Desktop_Qt_5_7_0_GCC_64bit-Debug
build-opencv_lab-Desktop_Qt_5_7_0_GCC_64bit-Default
